include climetlab/*/*.yaml
include climetlab/*/*/*.yaml
include climetlab/*/*/*/*.yaml
include climetlab/*/*/*/*/*.yaml
include climetlab/*/*/*/*/*/*.yaml
include climetlab/data/css/*.css
include climetlab/sources/dummy.grib
include climetlab/version
