# These are the requirements for readthedoc
eccodes
ecmwflibs
entrypoints
filelock
ipykernel
magics
markdown
markupsafe==2.0.1
multiurl
nbsphinx
pandas
pyyaml
Pygments>=2.6.1
sphinx-panels
sphinx_rtd_theme
termcolor
tqdm
