# (C) Copyright 2021 ECMWF.
#
# This software is licensed under the terms of the Apache Licence Version 2.0
# which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
# In applying this licence, ECMWF does not waive the privileges and immunities
# granted to it by virtue of its status as an intergovernmental organisation
# nor does it submit to any jurisdiction.
#

name: Full tests and release

on:
  workflow_dispatch: {}

  release:
    types: [created]

  push:
    paths:
      - 'climetlab/version'

  repository_dispatch:
    types:
      - cdsapi-updated
      - magics-python-updated
      - ecmwf-api-client-updated

jobs:
  quality:
    if: startsWith(github.ref, 'refs/tags/')
    name: Code QA
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pip install black flake8 isort
      - run: black --version
      - run: isort --version
      - run: flake8 --version
      - run: isort --check .
      - run: black --check .
      - run: flake8 .

  test_build_doc:
    if: startsWith(github.ref, 'refs/tags/')
    name: Test building documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install packages needed to build the documentation
        run: |
          pip install sphinx
          pip install -r docs/requirements.txt
          sudo apt-get install pandoc
          pip freeze

      - name: Documentation
        run: |
          make clean
          make html
          # make linkcheck (don't run yet)
        working-directory: docs

  checks:
    if: startsWith(github.ref, 'refs/tags/')
    strategy:
      fail-fast: true
      matrix:
        platform: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.7", "3.8", "3.9"]

    name: Python ${{ matrix.python-version }} on ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    needs: [quality, test_build_doc]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Tokens
        shell: python
        env:
          ECMWFAPIRC: ${{ secrets.ECMWFAPIRC }}
          CDSAPIRC: ${{ secrets.CDSAPIRC }}

        run: |
          import os
          for n in ('ECMWFAPIRC', 'CDSAPIRC'):
              m = os.path.expanduser("~/." + n.lower())
              if os.environ[n]:
                  with open(m, "w") as f:
                      print(os.environ[n], file=f)

      - name: Install climetlab
        run: |
          pip install -e .
          pip freeze

      - name: Install test tools
        run: |
          pip install pytest
          pip freeze

      - name: Tests
        run: |
          # -E flag is defined in conftest.py
          # notebooks are tested below, as they need more dependencies
          pytest --durations=0 -E release -k 'not test_notebooks'

      - name: Install test tools for notebooks
        run: |
          pip install nbformat nbconvert ipykernel

      - name: Install climetlab full
        run: |
          pip install -e .[interactive,tensorflow,zarr]
          pip freeze

      - name: Tests notebooks
        run: |
          pytest --durations=0 -E release tests/documentation/test_notebooks.py

      - name: Re-install packaging without -e
        run: |
          pip uninstall climetlab -y
          pip install .
          pip freeze

      - name: Tests packaging
        run: |
          pytest --durations=0 -E release tests/core/test_version.py


  deploy:
    if: startsWith(github.ref, 'refs/tags/')
    # add if owner, etc.
    # Release should be done using the release.sh script
    # https://github.com/ecmwf-lab/climetlab-private-tools.git

    name: Upload to Pypi and release
    needs: checks

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Check that tag version matches climetlab version
        run: |
          tag=${GITHUB_REF#refs/tags/}
          version=$(python setup.py --version)
          echo 'tag='$tag
          echo "version file="$version
          test "$tag" == "$version"

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Check version
        id: checkversion
        run: |
          release=${GITHUB_REF##*/}
          version=$(python setup.py --version)
          test "$release" == "$version"
          echo "::set-output name=version::$version"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build pip package
        run: |
          python setup.py sdist

      - name: Publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload --verbose dist/*

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
